{% set menu = [
  { "name": "Main", "url": url_for("home"), "visible": true },
  { "name": "Skills", "url": url_for("skills"), "visible": true },
  { "name": "ToDo List", "url": url_for("todos"), "visible": true },
  { "name": "Projects", "url": url_for("projects"), "visible": true },
  { "name": "About me", "url": url_for("about"), "visible": true },
  { "name": "Info", "url": url_for("info"), "visible": current_user.is_authenticated },
  { "name": "Account", "url": url_for("account"), "visible": current_user.is_authenticated },
  { "name": "Sign Out", "url": url_for("logout"), "visible": current_user.is_authenticated },
  { "name": "Sign In", "url": url_for("login"), "visible": not current_user.is_authenticated },
  { "name": "Sign Up", "url": url_for("register"), "visible": not current_user.is_authenticated },
  { "name": "Feedbacks", "url": url_for("feedback"), "visible": true },
] %}

<nav class="navbar navbar-expand-lg position-sticky-lg top-0 z-3 navbar-light bg-transparent py-3">
  <div class="container-fluid px-5">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsableContent"
      aria-controls="collapsableContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsableContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 fw-bolder bg-white rounded">
        {%for item in menu %}
          {% if item.visible %}
            <li class="nav-item">
              <a class="nav-link" href="{{ item.url }}"> {{ item.name | upper }} </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
