{% set menu = {
  "Main": url_for("home"),
  "Skills": url_for("skills"),
  "Projects": url_for("projects"),
  "About me": url_for("about"),
} %}

<nav class="navbar navbar-expand-lg position-sticky-lg top-0 z-3 navbar-light bg-transparent py-3">
  <div class="container-fluid px-5">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsableContent"
      aria-controls="collapsableContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsableContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 fw-bolder bg-white rounded">
        {%for name, url in menu.items() %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url }}"> {{ name | upper }} </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
