{% extends "base.html" %}
{% from "_form_macros.html" import render_field %}
{% if request.args.get("action") == "change_password" %}
{% set active_tab = 3 %}
{% else %}
{% set active_tab = 0 %}
{% endif %}

{% block page_title %} Info {% endblock %}

{% block page_body %}
<h1>Welcome, {{ current_user.username }}</h1>
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link {% if active_tab == 0 %} active {% endif %}" id="tab-table" data-bs-toggle="tab" data-bs-target="#tab-pane-table" type="button" role="tab" aria-controls="tab-pane-table" aria-selected="false">All Cookies</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab-add" data-bs-toggle="tab" data-bs-target="#tab-pane-add" type="button" role="tab" aria-controls="tab-pane-add" aria-selected="false">Add Cookie</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab-delete" data-bs-toggle="tab" data-bs-target="#tab-pane-delete" type="button" role="tab" aria-controls="tab-pane-delete" aria-selected="false">Delete Cookie</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link {% if active_tab == 3 %} active {% endif %}" id="tab-change-password" data-bs-toggle="tab" data-bs-target="#tab-pane-change-password" type="button" role="tab" aria-controls="tab-pane-change-password" aria-selected="true">Change Password</button>
  </li>
</ul>
<div class="tab-content p-3 border border-top-0">
  <div class="tab-pane fade {% if active_tab == 0 %} show active {% endif %}" id="tab-pane-table" role="tabpanel" aria-labelledby="tab-table" tabindex="0">
    <table class="table">
      <thead>
        <tr>
          <th>Cookie</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        {% for key, cookie in request.cookies.items() %}
        <tr>
          <td>{{ key }}</td>
          <td>{{ cookie }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="tab-pane-add" role="tabpanel" aria-labelledby="tab-add" tabindex="0">
    <form action="{{ url_for('setcookie') }}" method="POST">
      <div class="mb-3">
        <label for="inputCookieKey" class="form-label">Cookie</label>
        <input
          type="text"
          class="form-control"
          name="key"
          id="inputCookieKey"
          required
        />
      </div>
      <div class="mb-3">
        <label for="inputCookieValue" class="form-label">Value</label>
        <input
          type="text"
          class="form-control"
          name="value"
          id="inputCookieValue"
        />
      </div>
      <div class="mb-3">
        <label for="inputCookieMaxAge" class="form-label">Max Age</label>
        <input
          type="number"
          min="0"
          class="form-control"
          name="max_age"
          id="inputCookieMaxAge"
        />
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
  <div class="tab-pane fade" id="tab-pane-delete" role="tabpanel" aria-labelledby="tab-delete" tabindex="0">
    <form action="{{ url_for('deletecookie') }}" method="POST">
      <div class="mb-3">
        <label for="inputCookieKey2" class="form-label">Cookie</label>
        <input
          type="text"
          class="form-control"
          name="key"
          id="inputCookieKey2"
          required
        />
      </div>
      <button type="submit" class="btn btn-danger">Delete</button>
      <button type="submit" class="btn btn-danger" form="delete-all">Delete All</button>
    </form>
    <form action="{{ url_for('clearcookies') }}" method="POST" id="delete-all"></form>
  </div>
  <div class="tab-pane fade {% if active_tab == 3 %} show active {% endif %}" id="tab-pane-change-password" role="tabpanel" aria-labelledby="tab-change-password" tabindex="0">
    <form action="{{ url_for('info', action='change_password') }}" method="POST" novalidate>
      {{ change_password_form.csrf_token }}
      {{ render_field(change_password_form.current_password) }}
      {{ render_field(change_password_form.new_password) }}
      {{ render_field(change_password_form.confirm_password) }}
      {{ render_field(change_password_form.submit) }}
    </form>
  </div>
</div>
{% endblock %}