@media (min-width: 992px) {
  .position-sticky-lg {
    position: sticky !important;
  }
}

form.fields-grow-1 > .row.field-grow-1 {
  flex-grow: 1;
}

.user-avatar {
  width: 200px;
  height: 200px;
}