{% macro render_field(field) %}
  {% if field.type == 'StringField' or field.type == 'EmailField' or field.type == 'PasswordField' or field.type == 'FileField' %}
    {{ render_text_input(field) }}
  {% elif field.type == 'TextAreaField' %}
    {{ render_text_area(field) }}
  {% elif field.type == 'BooleanField' %}
    {{ render_checkbox(field) }}
  {% elif field.type == 'SubmitField' %}
    {{ render_submit(field) }}
  {% endif %}
{% endmacro %}

{% macro render_text_input(field) %}
  <div class="mb-3">
    <label for="{{ field.id }}" class="form-label"> {{ field.label.text }} </label>
    <div class="input-group has-validation">
      <input
        type="{% if field.type == 'StringField' %}text{% elif field.type == 'PasswordField' %}password{% elif field.type == 'FileField' %}file{% endif %}"
        class="form-control {% if field.errors.__len__() > 0 %} is-invalid {% endif %}"
        name="{{ field.name }}"
        id="{{ field.id }}"
        {% if field.type != 'PasswordField' and field.type != 'FileField' %}
          value="{{ field.data if field.data else "" }}"
        {% endif %}
        aria-describedby="{{ field.id }}-feedback"
      />
      {% if field.errors %}
        <div id="{{ field.id }}-feedback" class="invalid-feedback">
          <ul>
            {% for error in field.errors %}
              <li> {{ error }} </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
{% endmacro %}

{% macro render_text_input_horizontal(field) %}
  <div class="row field-grow-1">
    <div class="col-auto">
      <label for="{{ field.id }}" class="col-form-label"> {{ field.label.text }} </label>
    </div>
    <div class="col-auto flex-grow-1 has-validation">
      <input
        type="{% if field.type == 'StringField' %}text{% elif field.type == 'PasswordField' %}password{% endif %}"
        class="form-control {% if field.errors.__len__() > 0 %} is-invalid {% endif %}"
        name="{{ field.name }}"
        id="{{ field.id }}"
        {% if field.type != 'PasswordField' %}
          value="{{ field.data if field.data else "" }}"
        {% endif %}
        aria-describedby="{{ field.id }}-feedback"
      />
      {% if field.errors %}
        <div id="{{ field.id }}-feedback" class="invalid-feedback">
          <ul>
            {% for error in field.errors %}
              <li> {{ error }} </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
{% endmacro %}

{% macro render_text_area(field) %}
  <div class="mb-3">
    <label for="{{ field.id }}" class="form-label"> {{ field.label.text }} </label>
    <div class="input-group has-validation">
      <textarea
        class="form-control {% if field.errors.__len__() > 0 %} is-invalid {% endif %}"
        name="{{ field.name }}"
        id="{{ field.id }}"
        rows="10"
      >{{ field.data if field.data else "" }}</textarea>
      {% if field.errors %}
        <div id="{{ field.id }}-feedback" class="invalid-feedback">
          <ul>
            {% for error in field.errors %}
              <li> {{ error }} </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
{% endmacro %}

{% macro render_checkbox(field) %}
  <div class="form-check mb-3">
    <input
      class="form-check-input {% if field.errors.__len__() > 0 %} is-invalid {% endif %}"
      type="checkbox"
      value="on"
      id="{{ field.id }}"
      name="{{ field.name }}"
      value="{{ field.data if field.data else "" }}"
      {{ "checked" if field.data else "" }}
      aria-describedby="{{ field.id }}-feedback"
    />
    <label for="{{ field.id }}" class="form-check-label"> {{ field.label.text }} </label>
    {% if field.errors %}
      <div id="{{ field.id }}-feedback" class="invalid-feedback">
        <ul>
          {% for error in field.errors %}
            <li> {{ error }} </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
{% endmacro %}

{% macro render_submit(field) %}
  <div class="">
    <input
      class="btn btn-{{ (field.render_kw and field.render_kw.get('category')) or 'primary' }}"
      type="submit"
      id="{{ field.id }}"
      name="{{ field.name }}"
      value="{{ field.label.text }}"
    />
  </div>
{% endmacro %}
