{% extends "base/base.html" %}
{% from "base/macros.html" import render_field, render_text_input_horizontal %}

{% block page_title %} Tags {% endblock %}

{% block page_body %}

<h1>Tags</h1>
{% if (current_user and current_user.is_authenticated) %}
<div class="card mx-auto">
    <div class="card-body">
        <form class="d-flex flex-wrap gap-3 fields-grow-1" method="POST" novalidate>
            {{ creation_form.csrf_token }}
            {{ render_text_input_horizontal(creation_form.name) }}
            <div class="col-auto">
                {{ render_field(creation_form.submit) }}
            </div>
        </form>
    </div>
</div>
{% endif %}
{% if all_tags.__len__() > 0 %}
<ul class="list-group list-group-flush">
    {% for tag in all_tags %}
    <li class="list-group-item d-flex flex-row gap-1 align-items-center">
        <span class="flex-grow-1"> {{ tag["name"] }} </span>
        {% if (current_user and current_user.is_authenticated) %}
        <a class="btn btn-success" href="{{ url_for('.tag_update', id=tag.id) }}">Update</a>
        <form action="{{ url_for('.tag_delete', id=tag.id) }}" method="post" novalidate>
            <input type="submit" class="btn btn-danger" value="Delete" />
        </form>
        {% endif %}
    </li>
    {% endfor%}
</ul>
{% endif %}

{% endblock %}


