{% extends "base.html" %}

{% block page_title %} Main {% endblock %}

{% block page_body %}
    <h1>Main</h1>
    <p>Salutem ad locum vitae meae programmatricis perscrutandae!</p>
    <p>Exsulto te hic habere et gratias ago ob tuum studium in investigando curriculo meo ut programmatore. Hoc medium concinnatum est ut perspicacem tibi exhibeam notitiam de meis facultatibus, experientia, atque de rebus quibus interfui.</p>
    <p>Ut programmatore appassionato et studioso, multas horas posui ad artem meam excolendam et ad progressionem technologiae. Hic locus est virtuale porticus, quae te visum praebet in mea opera exsecuta, peritiam meam technicam, et solutiones innovativas quas adhibui.</p>
    <p>Sive es patronus quaerens peritum programmatorem qui tuo consortium amplificet, sive consocius developer quaerens societatem, sive aliquis simpliciter curiosus de mundo codificandi, spero hic locus te informet et tibi afflatum afferat.</p>
    <p>Libere explora pugillarium meum, immisce te rebus quibus interfui, et disco amplius de institutione mea et experientia mea professionali. Si quaestiones habes, plus informationis indiges, vel si vis nos contingere, ne dubita nos adire. Semper avide exspecto conloquium cum hominibus similibus atque cum societatibus qui amorem habent ad programmandum et technologiam.</p>
    <p>Gratias ago tibi pro adventu, et exspecto conloquium tecum atque explorationem excitantium possibilitatum quas programmare et technologia offerunt.</p>
    <p>Laetamur quaerendo!</p>
{% endblock %}

{% block page_footer %}
    {% include "home_footer.html" %}
{% endblock %}